 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Mission-driven machine learning engineer and Python developer with 4+ years of experience building E2E ML pipelines and data infrastructures. My skills and interests lie at the intersection of software development, machine learning, data engineering, and cloud development to unlock content and deliver insights from imagery and geospatial datasets. Seeking opportunities to work cross-functionally to design and build novel AI/ML solutions to geospatial problems.  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Development</h2>
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" />
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" />
      <p>Expert Python developer with a background in other programming languages such as SQL, Rust, Go, C++, Ruby, HTML, and JavaScript. </p>
    </div>
    <div class="tech">
      <h2>Cloud Computing</h2>
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-plain-wordmark.svg" />
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-plain-wordmark.svg" />
      <p>Experience leveraging AWS and GCS cloud computing tools (storage, EC2s/VMs, lambdas) and Kubernetes for cloud deployments and orchestration. </p>
    </div>
    <div class="tech">
      <h2>Machine Learning</h2>
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pytorch/pytorch-original-wordmark.svg" />
      <img width="75" height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/scikitlearn/scikitlearn-original.svg" />
      <img width="65" height="65" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/SCIPY_2.svg" />
      <p>Effective command Python packages such as PyTorch, Keras, TensorFlow, ScikitLearn, and SciPy to build, train, and test machine learning models. </p>
    </div>
</div>
</div>
<div class="user">
  <div class="tech">
    <h2>Data Analysis</h2>
    <img width="65" height="65" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/numpy/numpy-original.svg" />
    <img width="75" height="75" src="/assets/svg/xarray.svg" />
    <img width="65" height="65" src="https://upload.wikimedia.org/wikipedia/commons/8/84/Matplotlib_icon.svg" />
    <p>Skilled at leveraging Python data libraries such as Numpy and Xarray to analyze vector and raster data combined as well as a strong educational background in statistics.</p>
  </div>
  <div class="tech">
    <h2>Geospatial</h2>
    <img width="75" height="75" src="https://upload.wikimedia.org/wikipedia/commons/d/df/GDALLogoColor.svg" />
    <img width="75" height="75" src="/assets/svg/geopandas.svg" />
    <img width="70" height="70" src="https://upload.wikimedia.org/wikipedia/commons/9/91/QGIS_logo_new.svg" />
    <p>Adept at leveraging GDAL, QGIS, and Python packages (e.g. GeoPandas, Shapely, Rasterio, Rioxarray) to gain insights from raster data sourced from satellite and ariel imagery.</p>
  </div>
  <div class="tech">
    <h2>MLOps</h2>
    <img width="75" height="75" src="/assets/svg/mlflow.svg" />
    <img width="65" height="65" src="/assets/svg/neptune.svg" />
    <img width="75" height="75" src="/assets/svg/kubeflow.png" />
    <p>Ample experience using 3rd party MLOps tools (e.g. MlFlow, Neptune.ai, and KubeFlow) to track model inputs, training, testing, and deployment.</p>
  </div>
</div>
