<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.greeting}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" class="icon" href="https://github.com/{{ github_username }}">{% include header-icons/mail.svg %}</a>
        <a aria-label="My Github" class="icon" href="https://github.com/{{ github_username }}">{% include header-icons/github.svg %}</a>
        <a aria-label="My LinkedIn" class="icon" href="https://www.linkedin.com/in/{{ linkedin_username }}">{% include header-icons/linkedin.svg %}</a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon" aria-hidden="true">{% include header-icons/scroll-down.svg %}</i></a>
</div>
